<!DOCTYPE html>
<html>

  <head>
	<meta charset="UTF-8"> 
    <script src="node_modules/angular/angular.js"></script>
    <link rel="stylesheet" href="style.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="index.js"></script>
  </head>

  <body ng-app="contactsApp">
    <div ng-controller="contactsController as ctrl" class="container">
		<div class="row"><div class="col-md-6"><h1>My Contacts</h1></div></div>
		<div class="row">
			<div class="col-md-6">
				<h2>Contacts</h2>
			</div>
			<div class="col-md-6" ng-show="ctrl.isContactSelected">
				<h2>Selected Contact</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="row" ng-repeat="contact in ctrl.contacts" ng-click="ctrl.selectContact(contact)" >
					<div class="row contact-area" ng-class="{selected: ctrl.selectedContact == contact}">
						<contact-info info="contact"></contact-info>
					</div>
					<hr class="contact-separator"/>
				</div>
			</div>
			<div class="col-md-6 col-md-offset-1">
				<div ng-if="ctrl.isContactSelected">
					<contact-detail detail="ctrl.selectedContact"></contact-detail>
				</div>
				<div ng-if="!ctrl.isContactSelected" class="no-contact">
					<span class=""><h2>Select a contact</h2></span>
				</div>
			</div>
		</div>
	</div>
  </body>

</html>